* {
    box-sizing: border-box;
    font-family: "Almendra", serif;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
    width: 100%;
    font-size: 62.5%;
}
body {
    margin: 0;
    font-size: 1.4rem;
}
main {
    min-height: calc(100vh - 223px);
}
#scroll-icon {
    color: #3e4555; 
    font-size: 3.6rem; 
    position: fixed; 
    right: .4rem; 
    bottom: .4rem;
    transition: color .4s;
    z-index: 3;
}
#scroll-icon:hover {
    color: #396eb0;
}
.container {
    vertical-align: top;
    margin: 0 auto;
    width: 100%;
} 

@media (max-width: 768px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.col-2 {
    width: 50%;
    float: left;
}
.col-3 {
    width: 33.3%;
    float: left;
}
.col-4 {
    width: 25%;
    float: left;
}
@media (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}
.row {
    margin-bottom: 4rem;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.section-title {
    font: #3e4555;
    font-size: 3rem;
    font-weight: 600;
}
.img-fluid {
    width: 100%;
}

@media (min-width: 576px) {
    html {
        font-size: 68%;
    }


    .container {
        margin: 0 auto;
        width: 540px;
    }
}
@media (min-width: 768px) {
    html {
        font-size: 72%;
    }
    .container {
        margin: 0 auto;
        width: 720px;
    }
}
@media (min-width: 992px) {
    html {
        font-size: 74%;
    }
    .container {
        margin: 0 auto;
        width: 960px;
    }
}
@media (min-width: 1200px) {
    html {
        font-size: 78%;
    }
    .container {
        margin: 0 auto;
        width: 1140px;
    }
}
@media (min-width: 1400px) {
    html {
        font-size: 80%;
    }
    .container {
        margin: 0 auto;
        width: 1320px;
    }
}
