.signup-page {
    padding-top: 20px;
    padding-bottom: 20px;
}
.signup-title {
    text-align: center;
    font-size: 30px;
    color: #2e4c6d;
}

.signup-form {
    width: 100%;
}
@media (min-width: 768px) {
    .signup-form {
        width: 700px;
        margin: auto;
}
}

.signup-form label,
.signup-form input:not([type="checkbox"]),
.signup-form select {
    display: block;
    width: 100%;
    margin-top: 10px;
}
.signup-form input[type="checkbox"], 
.signup-form input[type="checkbox"] + label {
    display: inline-block;
    width: auto;
    margin-top: 15px;
}
.signup-form button[type="submit"] {
    display: block;
    margin-top: 15px;
}
.signup-form input:not([type="checkbox"]), 
.signup-form select {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px 15px;
}
.signup-form input:not([type="checkbox"]):focus,
.signup-form select:focus {
    outline: none;
    background-color: aliceblue;
    border: 2px solid rgb(200, 228, 255);
    color: #2e4c6d;
}
.signup-form input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #2e4c6d;
    border-radius: 50%;
    vertical-align: bottom;
}
.signup-form input[type="checkbox"]:hover {
    background-color: aliceblue;
    border: 2px solid  rgb(200, 228, 255);
}
.signup-form input[type="checkbox"]:checked {
    background-color: #2e4c6d;
}
