@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&display=swap" );

@import url("../CSS/buttons.css");
@import url("../CSS/style.css");
@import url("../CSS/base.css"); 